.default {
  padding-right: 30px;
}

.default + i {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 8px;
  line-height: inherit;
}

.loading + i {
}

.success + i {
  color: green;
}

.error + i {
  color: red;
}
