.default {
  background: none;
  border: none;
  padding: 0;

  color: #ddd;
  transition: all .3s ease-out;
  font-size: 2rem;
}

.default:hover, .active {
  color: #ff7373;
}

.active:hover {
  color: #ddd;
}

.small {
  font-size: 1rem;
}

.large {
  font-size: 3rem;
}
