.card {
    border-radius: 3px;
    padding: 10px;
    background: #fff;
    margin-bottom: 1em;

    img {
        display: block;
        width: 100%;
    }

    .header {
        display: block;
        margin: auto;
        position: relative;

        span {
            position: absolute;
            left: 0;
            bottom: 0;
            background: #fff;
            color: #222;
            font-weight: 700;
            padding-right: .5rem;
        }
    }

    .content {
        padding: 10px 0;
        margin-bottom: 10px;
    }

    .footer {
        padding: 10px 0;
    }

}
