.feed {
    position: relative;
    
//    &::before {
//        content: "";
//        position: absolute;
//        width: 4px;
//        background: #ddd;
//        left: 1.5em;
//        top: 1.5em;
//        bottom: 1.5em;
//    }
    
    .entry {
        min-height: 3em;
        
        .icon {
            width: 3em;
            display: inline-block;
            position: relative; // image on top of the bar
            
            img {
                width: 100%;
                border-radius: 100%;
            }
        }
        
        .content {
            display: inline-block;
            vertical-align: top;
            margin-top: .5em;
            margin-left: .5em;
            
            .meta {
                font-size: .8em;
                color: #888;
            }
            
            .attachment {
                padding: .5em 0;
            }
        }
    }
}
