.tabs {
    margin: 0;
    padding: 0;

    li {
        display: inline-block;

        a {
            display: block;
            line-height: 2.5em;
            padding: 0px 1em;
            border-radius: 5px 5px 0 0;

            &:hover {
                background: #ddd;
            }
        }

        & a.selected {
            background: #fff;
        }
    }
}
